:root {
    --darkblue: #17212E;
    --darkred: #6E081F;
    --red: #732B2E;
    --darkbrown: #936F62;
    --cream: #E4CCC0;
    --turqoise: #C5D5D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* NAV */

ul {
    list-style: none;
  }
  
a {
    text-decoration: none;
    color: var(--cream);
}
  
nav {
    font-weight: 500;
    height: 50px;
}
  
.nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0);
    z-index: 10;
}

.nav,
.nav-list {
    background: black;
}

.nav-logo {
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -24px;
    text-align: center;
}

.nav label {
    color: white;
}

.nav label {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav .nav-input {
    display: none;
}


.nav .nav-input:checked ~ .nav-list {
    display: block;
}
  
.nav-list {
    position: absolute;
    top: 50px;
    width: 100%;
    display: none;
}
  
.nav-list a {
    display: block;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
}
  
.nav-list a:hover {
    background: var(--darkred);
}

@media screen and (min-width: 768px) {
    .nav label {
        display: none;
    }

    .nav-list {
        display: flex;
        position: relative;
        justify-content: flex-end;
        padding-right: 20px;
        top: auto;
    }
}

/* BODY */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.45;
}

.typography-heading {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

.typography-heading2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

.typography-heading3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

.list-p {
    font-size: 14px;
    color: var(--darkblue);
}

/* MAIN */

/*WELCOME SECTION*/

.section-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/zaanse.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    height: 687px;
    width: 100%;
}

.welcome-wrapper {
    position: relative;
    height: 500px;
}

.welcome-typography {
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
    padding: 0px 36px;
}

.welcome-typography > h1 {
    margin-top: 400px;
    margin-bottom: 7px;
}

/*INTRO SECTION*/

.section-intro {
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 24px;
}

.sub-heading {
    border-top: 3px solid var(--darkred);
    border-bottom: 3px solid var(--darkred);
    padding: 5px 0px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--darkblue);
}

/*CITY SECTION*/

.section-city {
    position: relative;
    /*background-image: url(img/amsterdam-night.jpg);
    background-size: cover;
    background-position: center;*/
    top: 0;
    left: 0;
}

.city-content {
    position: relative;

}

.icon {
    padding-top: 8px;
    padding-right: 7px;
}

.city-caption {
    display: flex;   
    margin-bottom: 24px;
    color: var(--darkblue);
    padding-left: 15px;
}

.city-caption .culinary-caption > h2 {
    padding-top: 26px;
}

.city-list {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.city-preview {
    position: absolute;
    z-index: 2;
    bottom: 64px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: white;
}

.list-item {
    float: none;
    width: 100%;
    padding: 24px 0px;
    margin-right: 0;
    display: flex;
    align-items: center;
    color: var(--darkblue);
}

.citylist-left,
.culinarylist-left {
    top: 0%;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: auto;
}

.citylist-left > h3,
.culinarylist-left > h3 {
    padding-top: 15px;
}

.citylist-right,
.culinarylist-right {
    padding-right: 24px;
}

.list-img {
    border-radius: 7px;
}

.city-button {
    position: absolute;
    z-index: 2;
    bottom: 26px;
    margin: 0 auto;
    left: 15px;
    padding: 6px;
    border-radius: 14px;
    right: 0;
    background-color: transparent;
}

a {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.list-button {
    position: absolute;
    margin: 0 auto;
    left: 24px;
    padding: 3px 10px;
    border-radius: 14px;
    right: 0;
    bottom: 30px;
    background-color: var(--darkblue);
}

.list-button > a {
    font-size: 12px;
    color: white;
}

/*SECTION ACTIVITIES*/

.section-activity {
    padding-top: 64px;
    position: relative;
    /*background-image: url(img/amsterdam-night.jpg);
    background-size: cover;
    background-position: center;*/
    top: 0;
    left: 0;
    margin-bottom: 48px;
}

.activity-caption {    
    display: flex;
    padding-right: 15px;
    padding-bottom: 24px;
    color: var(--darkblue);
    text-align: right;
    justify-content: right;
    align-items: right;
}

.activity-caption > h2 {
    border-top: 2px solid var(--darkred);
    width: 60%;
}

.icon-right {
    padding-top: 8px;
    padding-left: 7px;
}

.activity-list {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.activity-preview {
    position: absolute;
    text-align: right;
    z-index: 2;
    top: 0;
    width: 50%;
    padding: 15px 15px;
    margin: 0 auto;
    left: 100;
    right: 0;
    color: white;
    font-size: 28px;
}

.activitylist-left {
    top: 0%;
    padding-left: 24px;
    padding-right: 24px;
}

.activitylist-right {
    text-align: right;
    padding-right: 24px;
    margin-bottom: auto;
}

.activitylist-right > h3 {
    padding-top: 15px;
}

/* Culinary Section */

.section-culinary {
    position: relative;
    /*background-image: url(img/amsterdam-night.jpg);
    background-size: cover;
    background-position: center;*/
    top: 0;
    left: 0;
}

.culinary-content {
    position: relative;

}

.culinary-caption {
    display: flex;   
    margin-bottom: 16px;
    color: var(--darkblue);
    padding-left: 15px;
}

.culinary-caption > h2 {
    border-top: 2px solid var(--darkred);
    width: 60%;
}

.culinary-list {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.culinary-preview {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding-top: 18px;
    text-align: center;
    color: white;
}

.culinary-preview > h3 {
    font-size: 28px;
}

/* NEWS SECTION */

.section-news {
    padding: 48px 24px 0px;
    text-align: center;
    height: 362px;
}

.news-caption {
    border-top: 3px solid var(--darkred);
    color: var(--darkblue);
    padding-top: 24px;
}

.news-caption > h3 {
    padding-top: 24px;
}

/*
.section-activities {
    padding: 0px 24px;
    text-align: center;
    background-image: url(img/bike-couple.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    height: 568px;
    width: 100%;
}

.activities-caption {
    color: var(--turqoise);
}

.activities-caption > h2 {
    padding-top: 74px;
}

/* SECTION CULINARY 

.section-culinary {
    padding: 0px 24px;
    text-align: center;
    background-image: url(img/food-bg.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    height: 320px;
    width: 100%;
}

.culinary-caption {
    color: var(--darkblue);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

/* NEWS SECTION


